body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    height: calc(100vh - 50px); 
    box-sizing: border-box; 
}

section.container {
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    width: calc(100% - 100px); 
    max-width: 1600px; 
    height: calc(100% - 100px);
    background-color: #958F8F;

    .left {
        background-color: #958F8F;
        flex: 1;
    }
    
    .right {
        background-color: #D9D9D9;
        padding: 20px;
        border-radius: 10px;
        flex: 2;
    }
}