<body>
    <section class="container">
        <div class="left">
            <img src="" alt="Ilustração">
        </div>
        <div class="right">
            <div class="formArea">
                <form (ngSubmit)="submit()" [formGroup]="loginForm" #formDir="ngForm" class="formTrue">
                    <h1 class="titulo">CONECTE-SE</h1>
                    <br>
                    <div class="form-group">
                        <input type="email" id="email" class="item" placeholder="Insira seu e-mail" formControlName="email" required />
                    </div>
                    <p *ngIf="isInvalidControl('email')">Erro no e-mail</p>
                    <br>
                    <div class="form-group">
                        <input type="password" id="senha" class="item" placeholder="Insira sua senha" formControlName="senha" required />
                    </div>
                    <p *ngIf="isInvalidControl('senha')">Erro na senha</p>
                    <br>
                    <div *ngIf="loginError" class="alert alert-danger">{{ loginError }}</div>
                    <button class="sendButton" type="submit" (click)="submit()">Enviar</button>
                </form>
                <p class="noaccount">
                    Esqueceu a senha? <a href="#">Acesse</a>
                </p>
            </div>
        </div>
    </section>
</body>
