<body>
    <section class="container">
        <div class="right">
            <img src="" alt="Ilustração">
        </div>
        <div class="left">
            <div class="formArea">
                <h1 class="titulo">CONECTE-SE</h1>
                <div class="provedores">
                    <div class="connextionbox" style="background-image: url('/assets/images/gmail.jpg');">GMAIL</div>
                    <div class="connextionbox" style="background-image: url('/assets/images/facebook.jpg');">FACEBOOK</div>
                </div>              
                <p>ou</p>
                <form (ngSubmit)="submit()" [formGroup]="loginForm" #formDir="ngForm" class="formTrue">
                    <br>
                    <div class="form-group">
                        <input type="email" id="email" class="item" placeholder="Insira seu e-mail" formControlName="email" required />
                    </div>
                    <p class="alert" *ngIf="isInvalidControl('email')">Erro no e-mail</p>
                    <br>
                    <div class="form-group">
                        <input type="password" id="senha" class="item" placeholder="Insira sua senha" formControlName="senha" required />
                    </div>
                    <p class="alert" *ngIf="isInvalidControl('senha')">Erro na senha</p>
                    <br>
                    <div *ngIf="loginError" class="alert alert-danger">{{ loginError }}</div>
                    <div class="send">
                        <button class="sendButton" type="submit" (click)="submit()">ENTRAR</button>
                        <p class="noaccount">
                            ESQUECEU A SENHA? <a href="#" class="link">ACESSE</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
